body {
    font-family: Arial, sans-serif;
    background-color: #cacaca;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.tela {
    background-color: #ffffff;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h2 {
    margin-top: 6px;
    margin-bottom: 40px;
    color: #333333;
}

form {
    margin: 20px 0;
}

label {
    font-size: 17px;
    display: block;
    margin-bottom: 5px;
    color: #313131;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid #cccccc;
    border-radius: 8px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    background-color: #3e9133;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1b750f;
}

#mensagemErro {
    color: rgb(194, 27, 27);
    margin-top: 10px;
}

