body {
    font-family: Arial, sans-serif;

    background: linear-gradient(rgb(78, 78, 187), rgb(212, 159, 168));
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.tela {
    border-color: #ffd9006e;
    border-style: solid;
    background-color: #ffffffa1;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.158);
    max-width: 400px;
    width: 100%;
    text-align: center;
}

h1 {
    margin-bottom: 7px;
    font-size: 26px;
    margin-top: 9px;
    color: #292929;
}

h2 {
    margin-top: 6px;
    margin-bottom: 40px;
    color: #292929;
}

form {
    margin: 20px 0;
}

label {
    font-size: 17px;
    display: block;
    margin-bottom: 5px;
    color: #2c2c2c;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    background-color: #ffffffc0;
    padding: 10px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 2px solid #a1a1a1;
    border-radius: 8px;
    box-sizing: border-box;
}


.botaoResetarTabela {
    margin-bottom: 20px;
}

.botaoJogarNovamente {
    margin-bottom: 17px;
}

button {
    width: 100%;
    margin-top: 10px;
    padding: 12px;
    background-color: #3e9133;
    border: none;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #1b750f;
}

#mensagemErro {
    color: rgb(194, 27, 27);
    margin-top: 10px;
}